<header class="py-2 bg-dark text-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="images/WiseUpDudeLogoWhite.png" alt="Wise Up Dude Logo" style="height: 50px; width: auto;" />
            </a>

            <!-- Hamburger Menu Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/specialpicks" Match="NavLinkMatch.Prefix">Special Picks</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/pickatopic" Match="NavLinkMatch.Prefix">Pick a Topic</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/rollyourown" Match="NavLinkMatch.Prefix">Roll Your Own</NavLink>
                    </li>
@*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/test-wasm" Match="NavLinkMatch.Prefix">Test WASM Page</NavLink>
                    </li> *@
@*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/popover-test-wasm" Match="NavLinkMatch.Prefix">Popover Test</NavLink>
                    </li> *@
@*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/urltoquiz" Match="NavLinkMatch.Prefix">Quiz From URL</NavLink>
                    </li> *@
@*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/chat" Match="NavLinkMatch.Prefix">Perplexity Chat</NavLink>
                    </li> *@

@*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/perplexity-quiz" Match="NavLinkMatch.Prefix">Perplexity Quiz</NavLink>
                    </li> *@
                    <AuthorizeView Roles="PaidSubscriber,Admin,EnterpriseSubscriber">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link px-2 text-white" href="/learningtrack-maint" Match="NavLinkMatch.Prefix">Learning Track Maint</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <NavLink class="nav-link px-2 text-white" href="/admin" Match="NavLinkMatch.Prefix">Admin Dashboard</NavLink>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>

                <!-- Right-aligned Content -->
                <div class="text-end">
                    <AuthorizeView>
                        Hello wise guy: @context.User.Identity?.Name!
                    </AuthorizeView>
                </div>

                <div class="text-end">
                    <AuthorizeView>
                        <Authorized>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <NavLink class="nav-link px-2 text-white" href="/admin" Match="NavLinkMatch.Prefix">Admin Dashboard</NavLink>
                                </li>
                            </ul>
                        </Authorized>

                        <NotAuthorized>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <NavLink class="nav-link px-2 text-white" href="/Account/Login" Match="NavLinkMatch.Prefix">Login</NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link px-2 text-white" href="/Account/Register" Match="NavLinkMatch.Prefix">Sign-up</NavLink>
                                </li>
                            </ul>
                        </NotAuthorized>
                        <Authorized>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <NavLink class="nav-link px-2 text-white" href="/Account/logout" Match="NavLinkMatch.Prefix">Logout</NavLink>
                                </li>
                            </ul>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </nav>
    </div>
</header>
