@inherits LayoutComponentBase

<HeadContent>
@*     <style>
        .nav-link.active {
            font-weight: bold;
            /* color: #0d6efd;  */
        }
        .nav-link {
            font-weight: normal;
            /* color: #d7dbe0;  */
        }
    </style> *@
</HeadContent>

<NavMenu />

<div class="container mt-4">
    @Body
</div>
