<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <!-- Add the logo aligned to the left -->
            <a class="navbar-brand" href="/">
                <img src="images/WiseUpDudeLogoWhite.png" alt="Wise Up Dude Logo" style="height: 50px; width: auto;" />
            </a>

            <ul class="nav">
                <li class="nav-item">
                    <NavLink class="nav-link px-2 text-white" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-2 text-white" href="/urltoquiz" Match="NavLinkMatch.Prefix">Quiz From URL</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-2 text-white" href="/pickatopic" Match="NavLinkMatch.Prefix">Pick a Topic</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link px-2 text-white" href="/Explore/Explore" Match="NavLinkMatch.Prefix">Explore</NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link px-2 text-white" href="/myquizzes" Match="NavLinkMatch.Prefix">Discover</NavLink>
                </li>

                @*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/about" Match="NavLinkMatch.Prefix">About</NavLink>
                    </li> *@

                @*                     <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/contact" Match="NavLinkMatch.Prefix">Contact</NavLink>
                    </li> *@

                @*                  <li class="nav-item">
                        <NavLink class="nav-link px-2 text-white" href="/auth" Match="NavLinkMatch.Prefix">Auth Required</NavLink>
                    </li> *@
            </ul>

            <div class="text-end">
                <AuthorizeView>
                    Hello wise guy: @context.User.Identity?.Name!
                </AuthorizeView>
            </div>

            <div class="text-end">
                <AuthorizeView>
                    <NotAuthorized>
                        <ul class="nav">
                            <li class="nav-item">
                                <NavLink class="nav-link px-2 text-white" href="/Account/Login" Match="NavLinkMatch.Prefix">Login</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link px-2 text-white" href="/Account/Register" Match="NavLinkMatch.Prefix">Sign-up</NavLink>
                            </li>
                        </ul>
                    </NotAuthorized>
                    <Authorized>
                        <ul class="nav">
                            <li class="nav-item">
                                <NavLink class="nav-link px-2 text-white" href="/Account/logout" Match="NavLinkMatch.Prefix">Logout</NavLink>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</header>
